@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&display=swap');
:root{
    --body-back:hsla(13, 100%, 72%, 0.842);
    --main-color:hsla(240, 10%, 16%, 0.705);
    --glassColor:rgba(48, 34, 85, 0.089);

    --border: 1px solid rgba(240, 240, 240, 0.1);
    --active:hsla(0, 0%, 100%, 0.103);
    --right:hsla(356, 100%, 66%, 0.637);
    --wrong:hsla(208, 49%, 24%, 0.582);
    --perfect:hsla(356, 80%, 56%, 0.637);
    --noHand:hsla(0, 0%, 0%, 0.178);

}

*{
    font-family: 'Overpass', sans-serif;
    box-sizing:border-box;
    margin: 0;
    user-select: none;

    -webkit-user-drag: none;
}
body{
    background:var(--body-back) url("./images/bg-pattern-intro-mobile.svg") ;
    background-position: 30vw 2vh;
    background-repeat: no-repeat;

    box-sizing: border-box ;
    display: flex;
    justify-content: center;
    align-items: center;    
    height: 100vh;
}
.Quiz-app{
    background-size: cover;
    background-repeat: no-repeat;
    width: 500px;

}


.Quiz__info{
    color: var(--main-color); 
    display: flex;
    padding: 0px 10px;
    align-items: center;  
    font-size: 20px;
    z-index: -10;
}
.category--message{
    opacity: 0.3;
    font-size: 22x;
    font-weight:700;
     text-shadow: 0px 0px 0px hsla(240, 10%, 16%, 0.377);
}

    a.category--item{
        opacity: 1; 
        text-shadow: 1px 1px 2px rgba(78, 16, 9, 0.267);
            color: var(--main-color); 
            text-decoration: none;
            font-size: 2.75vh;
            font-weight: 700;
            padding-left: 3px;

}
.count_down{
    flex: 1;
    text-align: right;
}
.Quiz__area{
    margin-bottom: 15px;
}
.Quiz__area h2{
    color: var(--main-color); 
    font-size: 2.8vh;
    padding-left: 10px;
}
.answers {
    min-height: 300px;
}
.answer {
    min-height: 30px;
}
.answer_area{
    margin: 1px;
    margin-top:5px;
    color: rgb(255, 255, 255);
    padding: 20px;
    background:var(--glassColor);
    box-shadow: 20px 5px 50px -10px rgba(0, 0, 0, 0.39) ;

}
.answer_area .answer{
    margin: 1px;
    margin-bottom: 5px;
    filter: blur(0px);
    box-shadow: 15px 15px 50px -10px rgba(0, 0, 0, 0) ;
}
.answer_area .answer label{
    margin: 1px;
    margin-bottom: 5px;
    display: inline-block;
    padding: 20px;
    width: 100%;
     border: 1px solid rgba(240, 240, 240, 0.1);

    cursor: pointer;
}
.answer_area .answer input{
    display: none;
}


.answer_area .answer label:hover{

   backdrop-filter: blur(1px);
    box-shadow: 15px 15px 50px -10px rgba(0, 0, 0, 0.281) ;
}
.answer_area  .answer input[type="Radio"]:checked + .labele--active{
    background-color: var(--active);
    backdrop-filter: blur(10px);
    box-shadow: 15px 15px 50px -10px rgba(0, 0, 0, 0.329) ;
}

.answer_area .answer--right{
    background-color: var(--right);
    box-shadow: 15px 15px 50px -10px rgba(0, 0, 0, 0.26) ;
}
 .answer_area .answer--wrong{
    /* padding: 20px; */
    margin: 1px;
    margin-bottom: 5px;
    background-color: var(--wrong);
   filter: blur(0px);
   border: 1px solid rgba(240, 240, 240, 0.1);
    box-shadow: 15px 15px 50px -10px rgba(0, 0, 0, 0.404) ;
} 

.bullets{
    text-align: center;  
}
.bullets  span{

    background-color: var(--glassColor);
    filter: brightness(1);
    margin: 5px 10px ;
    height: 15px;
    width: 15px;
    display: inline-block;
    border-radius: 5px 7.5px;
    border: 1px solid rgba(240, 240, 240, 0.123);
    box-shadow: 2.5px 2.5px 2.5px 2px rgba(7, 7, 7, 0.144);
}
.bullets   .bullet--right{
    background-color: var(--active);

}
.bullets   .bullet--wrong{
    background-color: var(--active);
}
.bullets   .bullet--active{
    background-color: var(--active);

}
.bullets   .bullet--active:hover{
    background-color: var(--active);
    filter: brightness(10);
}

.bullets   .bullet--right:hover{
    background-color: var(--right);
}
.bullets   .bullet--wrong:hover{
    background-color: var(--wrong);
}



.submit_Button{
    cursor:pointer;
    margin-top: 15px;
    overflow: hidden;
    width: 100%;
    height: 60px;
    background-color: var(--glassColor);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5x); 
    color: hsla(0, 3%, 44%, 0);
    font-size: 22px;
    font-weight: 700;
    border: 1px solid rgba(240, 240, 240, 0.1);
    box-shadow: 15px 15px 50px -10px rgba(7, 7, 7, 0.199) ;
    text-shadow: 0px 0px 0px hsla(0, 0%, 100%, 0.541);
}


.submit_Button:hover{
    opacity: 1;
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px); 
}
@media screen and (max-width: 500px) {

    .Quiz-app{
        width: 90vw;
    }

}
@media screen and (max-width: 850px) {
    body{
        background-position:-20px 2vh ;
        background-attachment:fixed  ;
    }

}






.result{
    box-sizing: border-box ;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;    
    gap: 5px;
    color: var(--main-color); 
    font-size: 22px;
    font-weight:500 ;

}
.result__number{
    font-weight:400 ;
    font-size: 20px;
}
.result__numberHand{
    font-weight:700 ;
    font-size: 24px;
}